

body {
    background: #eee;
    font-family: poppins;
}

.intro {
    display: table;
    margin: auto;
    width: 100%;
    height: 99vh;
    vertical-align: middle;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.row-box {
    background: #fff;
    padding: 40px 40px 60px;
    /* border-bottom: 1px solid #eee; */
    box-shadow: 0 1px 20px rgba(20, 20, 20, 0.2);
    margin-bottom: 30px;
}
.row-box .form-control {
    border-radius: 0;
    box-shadow: none;
    height: 40px;
}

.row-box .form-group {
    margin-bottom: 25px;
}
.row-box label {
    font-size: 14px;
    font-weight: 700;
}
h2.title {
    font-family: poppins;
    font-weight: bold;
}
.seprator {
    background: #14acea;
    width: 56px;
    height: 5px;
    margin: 25px 0 50px;
}
.full-form {
    padding: 75px 0;
    overflow-x: hidden;
}

.row-box h3 {
    font-size: 14px;
    font-weight: 700;
}

.radio-btns label {
    font-weight: normal;
}

.btn-default{
    background:#14acea;
    border:2px solid #14acea;
    padding:12px 45px;
    font-weight: bold;
    color:#fff;
    margin-right: 10px;
}
.btn-default:hover, .btn-default:active  {
    color:#14acea;
    border:2px solid #14acea;
    background: transparent;
}
.btn-default-outline{
    color: #14acea;
    border:2px solid #14acea;
    background: transparent;
    padding:12px 45px;
    font-weight: bold;
}
.btn-default-outline:hover, .btn-default-outline:active{
    background:#14acea;
    border:2px solid #14acea;
    color:#fff;
}
.mt-50{
    margin-top: 50px;
}
.mt-30{
    margin-top: 30px;
}
a, button {
    -moz-transition: color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    
}
button:hover {
    
    transition: background-color 0.5s ease;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 10px 0 0;
    
}