@media only screen and (max-width: 1920px) {
  main{
    -moz-column-width: 220px;
    -webkit-column-width: 220px;
    column-width: 220px;
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-count: 6;

  }
}
@media only screen and (max-width: 1024px) {
  .nav>li {

    padding: 0px 0px !important;
  }
  .badge {
    top: 15px;  
  }
}

@media only screen and (max-width: 892px) {
  main{
    -moz-column-width: 73.33px;
    -webkit-column-width: 73.33px;
    column-width: 73.33px;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;

  }
  .badge {
    top: 3px;  
  }
  .nav>li {

    padding: 12px 3px !important;
  }
}
@media only screen and (max-width: 780px) {
  main {
    margin: 55px auto;
  }

}
@media only screen and (max-width: 600px) {

  main{
    -moz-column-width: 110px;
    -webkit-column-width: 110px;
    column-width: 110px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;

  }
  button.btn-default.mt-30 {
    min-width: 170px;
  }

}
@media only screen and (max-width: 480px) {
  .btn-default-outline {
    margin-top: 29px !important;
  }
  h2.title {
    font-size: 23px;
  }
  button.btn-default {
    min-width: 166px;
  }
  .btn-default-outline {
    margin-right: 44px !important;
  }
  .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 0 !important;
    margin-left: 0px !important;
  }
  button.btn-default-outline.mt-30 {
    min-width: 170px !important;
  }
  button {
    width: 100% !important;
}
  
  


  @media only screen and (max-width: 320px) {
    .btn-default-outline {
      margin-top: 29px !important;
      margin-right: 43px !important;
    }
    .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
      margin-top: 0;
      margin-left: 0px;
    }
    .btn-default-outline{ 
      margin-right: 7px;
    }

  }