.forget a {
	color: #14acea;
}
.forget {
	margin-top: 17px;
	margin-left: 15px;
}
h2.title {
	font-family: poppins;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 35px;
}
.btn-default {
	margin-left: 18px;
	margin-top: 0px;
	padding: 9px 16px;
}
.absent a {
	color: #14acea;
	margin-top: 50px;
}
.seprator {
	background: #dcdcdc;
	width: 286px;
	height: 2px;
	margin: 29px 0 14px;
	margin-left: 9px;

}
.form-group h2 {
	font-size: 13px;
	color: #ada09d;
}
.btn-default {
	background: #14acea;
	border: 2px solid #14acea;
	padding: 9px 16px;
	font-weight: bold;
	color: #fff;
	margin-right: 10px;
}
.row-box p {
    font-size: 13px;
    margin-bottom: 31px;
    margin-top: 0px;
}
.btn-default i {
	margin-right: 12px;
}
.sign-up {
    margin: 25px 0 !important;
}